body {
  box-sizing: border-box;
  max-width: 100%;
  margin: 20px 0 0 50px;
  padding: 30px;
  background-color: #f8f8f8;
  font-family: sans-serif, Arial;
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

header {
  display: inline-block;
  min-width: 90%;
  margin: 20px 20px;
}

h3 {
  position: relative;
  display: inline-block;
  color: #b8b8b8;
  text-transform: uppercase;
  margin-bottom: auto;
}

div.column {
  display: inline-block;
  margin: 0 10px;
  width: 30%;
}

main ul {
  width: 90%;
  list-style-type: none;
  padding: 0;
}

.column li {
  display: block;
  margin: 5px auto;
  border-radius: 5px;
  background-color: rgba(118, 117, 128, 0.05);
  color: #adadad;
}

.column li img {
  height: 60px;
  width: 60px;
  margin: 10px;
  vertical-align: middle;
}

.avatars li img {
  border-radius: 50%;
}

input[type="image"] {
/*  position: absolute;
  content: "";*/
  display: inline-block;
  width: 60px;
  height: 60px;
}

input#search {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-weight: bold;
  width: 95%;
  background: none;
  border: none;
  opacity: 0.4;
}

input#search:focus {
  background-color: #b8b8b8;
}

input#search:active, :hover, :focus {
  outline: 0;
  border: none;
}

li:hover {
  color: #ec5a62;
  background-color: rgba(118, 117, 128, 0.1);
  cursor: pointer;
}