body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  font-family: sans-serif, Arial;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.center {
  width: 80%;
  margin: 0 auto;
}

header {
  display: inline-block;
  min-width: 90%;
  margin: 20px 20px;
}

h3 {
  position: relative;
  display: inline-block;
  color: #b8b8b8;
  text-transform: uppercase;
  margin-bottom: auto;
}

form {
  position: relative;
}
div.column {
  display: inline-block;
  width: 30%;
  font-size: 20px;
}
.column:nth-child(2) {
  margin: 0 5%;
}

main {
  font-size: 0;
}
main ul {

  margin: 0;
  list-style-type: none;
  padding: 0;
}

.column li {
  display: block;
  margin: 5px auto;
  border-radius: 5px;
  background-color: rgba(118, 117, 128, 0.05);
  color: #adadad;
}

.column li img {
  height: 60px;
  width: 60px;
  margin: 10px;
  vertical-align: middle;
}

.avatars li img {
  border-radius: 50%;
}

button {
  background: transparent;
  border: none;
  display: inline-block;
  width: 60px;
  height: 60px;

}

input#search {
  display: inline-block;
  text-align: left;
  margin: 0;
  padding: 0;
  font-size: 100px;
  font-weight: bold;
  width: 95%;
  background: none;
  border: none;
  opacity: 0.4;
}

input#search:active, input#search:hover, input#search:focus {
  outline: 0;
  border: none;
  background-color: #b8b8b8;
}

li:hover {
  color: #ec5a62;
  background-color: rgba(118, 117, 128, 0.1);
  cursor: pointer;
}